@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html {
  padding: 0;
  margin: 0;
  background-color: #F9F9F9;
  color: #435163;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
}

:global(.uppercase) {
  text-transform: uppercase;
}

:global(.pointer) {
  cursor: pointer;
}

:global(.right-magnet) {
  float: right;
}